* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
:root {
        --bg-primary: #41266F;
        --bg-secondary:#FFDDE2;
        --text-primary:#F5F5F5;
        --text-secondary:#CA054D;
        --default:#000000;
}
body {
    width: 100vw;
    height: 100vh;
}
/*<------------------ Header Section ------------------> */
.header-section{
        background-color: var(--bg-primary);
        padding: 15px 80px;
        margin-right: auto;
        margin-left: auto;
}
.header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
.brand{
        color: var(--text-primary);
}
.nav-options{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        text-align: center;
        font-size: 20px;
}
.nav-items a{
        color: var(--text-primary);
        border-radius: 10px;
        padding: 10px;
        display: inline-block;
        height: 20px; width: 70px;
        text-decoration: none;
}
.nav-items a:hover{
        color: var(--text-secondary);
        background-color: var(--bg-secondary);
        text-decoration: none;
}